/*****************************************************
					GLOBAL
*****************************************************/

html.wedding, .wedding body, .wedding .content-wrap, .wedding .content {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

html {
	height: 100%;
	background-image: url("../images/background.jpg");
	background-position: center center;
	background-size: auto 100%;
}

html.front {
	background-image: none;
}

html, body {
	display: block;
	width: 100%;
	min-height: 100%;
}

body {
}

.stripes {
	background-color: #eceae4;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 40px, rgba(209,226,226,1) 40px, rgba(209,226,226,1) 80px)!important;
}
html.stripes {
	height: auto;
	min-height: 100%;
}

.stripes body {
	background-color: transparent;
}

.nav-arrow-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 15px;
	border-color: transparent transparent transparent #31bfc4;
}

.open-sans h1, .open-sans h2, .open-sans h3,
.open-sans h4, .open-sans h5, .open-sans h6 {
	font-family: 'Open Sans', sans-serif;
}
.walter h1, .walter h2, .walter h3, 
.walter h4, .walter h5, .walter h6,
.footer {
	font-family: 'Walter Turncoat', cursive;
}

.body-kreon {
	font-family: 'Kreon', serif;
}
.body-open-sans {
	font-family: 'Open Sans', sans-serif;
}

/** Available weights: 300, 400, 600, 700 **/
.shadow {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.35);
}

.pre-load {
	display: none;
}

.bar {
	background-color: rgba(86, 58, 20, 0.5);
	position: absolute;
}
.horizontal {
	width: 10px;
	height: 100%;
	top: 0px;
}
.bar.left {
	left: 0px;
}
.bar.right {
	right: 0px;
}
.seperator {
	border-top-width:5px;	
    border-top-style:dashed;
    border-color: rgba(86, 58, 20, 0.5);
    margin: 15px -5px;
}


/*****************************************************
					CONTENT
*****************************************************/

.content-wrap {
	min-height: 100%;
	position: relative;
}
.stripes .content-wrap {
	background-color: #eceae4;
	box-shadow: 0 1px 4px rgba(164,140,107,0.5);
	background-image: url('../images/assets/seamless_paper_texture.gif');
}
.stripes h1, .stripes h2, .stripes h3, 
.stripes h4, .stripes h5, .stripes h6 {
	color: rgba(57, 178, 178, 0.5);
}

.header .beth.social-media {
	text-align: right;
}

.header .logo {
	text-align: center;
	margin-top: 0px;
}
.header .logo > span {
	padding: 10px 0px;
}
.header .logo .fa-tag {
	font-size: 1.5em;
}
.header .logo .amp-wrap {
	position: relative;
	padding: 10px 0px;
}
.header .logo .amp {
	bottom: 0.7em;
    color: #eceae4;
    font-size: 0.9em;
    left: 0.5em;
    position: absolute;
}

.header .twine-bow {
	background-image: url("../images/assets/twine-tile-seamless-transparent.png");
    background-position: left 25px;
    background-repeat: repeat-x;
    background-size: 80px auto;
    text-align: center;
    width: calc(100% - 20px);
    left: 10px;
}
.header .twine-bow img {
	height: 125px;
	width: auto;
}

.main {
}

.stripes a {
	color: rgba(57, 178, 178, 0.5);
}
.stripes a:hover {
	color: rgba(86, 58, 20, 0.5);
}

.info .icon {
	font-size:2.5em;
	text-align:center;
}
.info .body .icon {
	font-size: 1em;
}
.info .body .icon {
	float: left;
    left: 0;
    padding: 0 10px 0 0;
    position: absolute;
    top: 0;
}
.info .body .icon:hover {
	cursor: default;
}
.info .body .icon i {
	color: 	rgba(86, 58, 20, 0.5);
}
.info .body .text {
	color: rgba(86, 58, 20, 0.75);
    float: left;
    margin-left: 3em;
    margin-top: 0.5em;
    position: relative;
}
.info .body .info-row {
	margin-bottom: 10px;
    min-height: 2.75em;
    overflow: auto;
    position: relative;
}
.info .icon span {
	color: rgba(57, 178, 178, 0.5);
}
.info .icon span > *:last-child {
	/**color: rgba(86, 58, 20, 1);**/
	color: rgba(146, 121, 94, 0.9);
	color: #eceae4;
}
.info .icon:hover {
	cursor: pointer;
}
.info .icon:hover span {
	color: rgba(146, 121, 94, 0.9);
}
.info .icon:hover span > *:last-child {
	color: rgba(57, 178, 178, 0.5);
	color: #eceae4;
}

.info .title {
	background-color:rgba(86, 58, 20, 0.5);
	color: #eceae4;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.info .title .wrap {
}
.info .title i {
	padding-right: 10px;
}

.wire {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	height: 4px;
	background-color: black;
	z-index: 0;
	background-color: #d1ac49;
	border-bottom: 2px solid #8c6b11;
}

.title {
	position: relative;
	z-index: 100;
	margin-top:25px;
	margin-bottom: 25px;
}

.title img {
	width: 100%;
	height: auto;
}

.slider-wrap {}

.flexslider {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color: transparent;
}

.flexslider.loading > *{
	visibility: hidden;
}

.flexslider.loading {
	min-height: 300px;
	background-color: #FFFFFF;
	background-image: url("../images/loading.GIF");
	background-repeat: no-repeat;
	background-position: center center;
}

.flexslider img {
	cursor: pointer;
}

.flexslider .slides > li {
	position: relative;
	display: block;
	float: left;
}

.flex-direction-nav i {
	font-size:40px;
	line-height: 38px;
	width:35px;
	text-align:center;
	text-shadow:none;
	color:#FFFFFF;
}

.flex-caption {
	font-family: 'architects_daughterregular', sans-serif;
	text-align: right;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.35);
    bottom: 0;
    color: #ffffff;
    left: 0;
    position: absolute;
    right: 0;
    padding: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.flex-caption p:last-child {
	margin-bottom: 0px;
}

.flex-direction-nav a:before,
.flex-direction-nav a.flex-next:before {
	content: none;
}

.flexslider .flex-direction-nav .flex-next,
.flexslider .flex-direction-nav .flex-prev {
	background-color: #31bfc4;
	opacity: 1;
	z-index: 0;
}

.flex-direction-nav a {
	top: inherit;
	bottom: -44px;
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
}

.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
}

footer.row {
	background-color: rgba(86, 58, 20, 0.5);
	margin: 15px -5px 0px;
	color: rgba(236, 234, 228, 1);
	padding: 15px 0px;
}
.stripes footer a {
	color: rgb(236, 234, 228);
}
footer > * { text-align: center; }

/*****************************************************
					MEDIA QUERIES
*****************************************************/

@media (min-width: 480px) {
	.info .title .wrap {
		position: relative;
		left: 25%;
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.header .twine-bow {
		background-image: url("../images/assets/twine-tile-seamless-transparent.png");
    	background-position: left 40px;
    	background-repeat: repeat-x;
    	background-size: 125px auto;
    	text-align: center;
	}

	.header .twine-bow img {
		height: 200px;
		width: auto;
	}

 	.info .title {
 		text-align: left;
 	}
 	.info .title .wrap {
		position: relative;
		left: 0%;
	}

	.flexslider .flex-viewport {
		z-index: 1;
	}

	.flex-direction-nav a {
	}

	.flexslider .flex-direction-nav .flex-next {
		right: 0px;
	}
	.flexslider .flex-direction-nav .flex-prev {
		left: 0px;
	}

	.flexslider:hover .flex-direction-nav .flex-next {
		right: -44px;
		opacity: 1;
		border-radius: 0px 6px 6px 0px;
		-moz-border-radius: 0px 6px 6px 0px;
		-webkit-border-radius: 0px 6px 6px 0px;
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		left: -44px;
		opacity: 1;
		border-radius: 6px 0px 0px 6px;
		-moz-border-radius: 6px 0px 0px 6px;
		-webkit-border-radius: 6px 0px 0px 6px;
	}

	.flex-direction-nav a {
		bottom: inherit;
		top: 50%;
	}

	.gmap iframe {
		padding-left: 10px;
		padding-right: 10px;
	}
	footer > * { text-align: left; }
	footer .links { text-align: center; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	html {
		background-size: 100% auto;
	}

	.info .title {
		font-size: 22px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.info .title {
		font-size: 24px;
	}
}