/************** TO-DO *******************

	convert the multi-background images
	into a single file & just change 
	position, rather than swapping entire
	images for animation!

****************************************/


h1 {
	font-family: 'Shadows Into Light Two', cursive;
	/** color: #8E680A; **/
	color: #000000;
	opacity: 1;
	font-size: 50px;
	//display: table-cell;
	//vertical-align: middle;
	//padding-bottom: 2em;
}

.content {
	text-align: center;
	height: 100%;
	//display: table;
}

.fixed { 
	position: fixed;
}

.gone { visibility: hidden; }

body {
	background-color: transparent;
	height: 100%;
}


/********************************************************
		MAIN CONTENT STYLES
********************************************************/

.section.intro {
	background: #25aae1; /* Old browsers */
	background: -moz-linear-gradient(top, #25aae1 50%, #ffa9bc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#25aae1), color-stop(100%,#ffa9bc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #25aae1 50%,#ffa9bc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #25aae1 50%,#ffa9bc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #25aae1 50%,#ffa9bc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #25aae1 50%,#ffa9bc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25aae1', endColorstr='#ffa9bc',GradientType=0 ); /* IE6-9 */
}

.logo {
	margin-bottom: 30px;
	text-align: center;
}

.logo h1 {
	display: inline;
	padding: 0 5%;
	color: #FFFFFF;
}

.logo h1.and {
	color: #FFA9BC;
}

.characters {
	height: 150px;
}

.brad, .beth {
	/**
	min-height: 300px;
	position: relative;
	float: left;
	**/
	//display: inline;
}

.brad .body, .beth .body {
	/**
	display: block;
	width: 100px;
	height: 150px;
	margin: 0px auto;
	**/
}

.section.intro .brad,
.section.intro .beth,
.section.about-brad .brad {
	position: relative;
	float: left;
	width: 50%;
	min-height: 150px;
}

.section.intro .beth {
	float: right;
}

.brad img,
.beth img {
	width: 150px;
	height: auto;
	z-index: 1000;
}

.brad .wrap,
.beth .wrap {
	width: 50%;
	height: 150px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
}

.brad .wrap a,
.beth .wrap a {
	display: block;
	height: 100%;
	width: 150px;
	position: relative;
	float: right;
}

.section.intro .beth .wrap a { float: left; }

.brad .wrap {
	background-image: url('../images/brad.svg');
	background-position: 80% center;
	z-index: 1000;
	position: relative;
	float: right;
	width: 100%;
}

.brad .wrap.fixed {
	position: fixed;
	float: none;
	width: 50%;
	left: 0px;
}

.beth .wrap {
	background-image: url('../images/beth.svg');
	background-position: 20% center;
	position: relative;
	width: 100%;
}

.brad .body {
	//background-color: red;
}

.beth .body {
	//background-color: yellow;
}

.about-brad {
	background-color: #333333;
}

/********************************************************
		ABOUT BRAD SECTION
********************************************************/

.about-brad .and,
.about-brad .beth-text {
	visibility: hidden;
}

.about-brad .brad {
	width: 50%;
	display: block;
}

/********************************************************
		ABOUT BETH SECTION
********************************************************/

.section.about-beth {
	background-color: #008080;
}

.about-beth .brad-text,
.about-beth .and {
	visibility: hidden;
}

.about-beth .beth {
	display: block;
	width: 50%;
	float: right;
}

/********************************************************
		MEDIA QUERIES
********************************************************/

@media (min-width: 400px) { 
	.characters {
		height: 175px;
	}

	.brad img,
	.beth img {
		width: 175px;
		height: auto;
	}

	.brad .wrap,
	.beth .wrap {
		height: 175px;
	}

	.brad .wrap a,
	.beth .wrap a {
		width: 175px;
	}
}

@media (min-width: 500px) { 
	.characters {
		height: 200px;
	}

	.brad img,
	.beth img {
		width: 200px;
		height: auto;
	}

	.brad .wrap,
	.beth .wrap {
		height: 200px;
	}

	.brad .wrap a,
	.beth .wrap a {
		width: 200px;
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.logo h1 {
		padding: 0 3.5%;
	}

	h1 {
		font-size: 75px;
	}

	.characters {
		height: 300px;
	}

	.brad img,
	.beth img {
		width: 300px;
	}

	.brad .wrap,
	.beth .wrap {
		height: 300px;
	}

	.brad .wrap { background-position: 95% center; }
	.beth .wrap { background-position: 5% center; }

	.brad .wrap a,
	.beth .wrap a {
		width: 300px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

